body {
    background-color: black;
    color: white;

    /* Allow mouse dragging. */
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    -webkit-user-select: none;
    user-select: none;

    /* disable touch panning/zooming */
    -ms-touch-action: none;
    touch-action: none;

    /* Allow canvas to hit the edges of the browser viewport. */
    margin: 0;
    
    /* Center the game canvas */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

#screen {
    width: 960px;
    height: 640px;
    position: relative;
}

#screen canvas {
    position: absolute;
    top: 0;
    left: 0;
    /* Hide the gap for font descenders. */
    display: block;
    
    /* Ensure crisp pixels when scaled */
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}
